<h1>Tarefa <%= @task.name %></h1>

<p>Detalhes: <%= @task.detail %></p>


<br>
<%= link_to "Editar", edit_task_path %>
<br>
<%= link_to "Excluir", task_path, method: 'delete', data: { confirm: "Tem certeza?" } %>
<br>
<%= link_to "Ver Todas as Tarefas", tasks_path %>
